<div class="modal-dialog modal-dialog-centered ">
    <div class="modal-content bg-dark text-white">
      <div class="modal-header p-3">
        <h5 class="modal-title">title</h5> <!-- Verwenden Sie h5 anstelle von h1, um den Titel kleiner zu machen -->
      </div>
      <div class="modal-body text-center p-3"> 
        <p class="small">sdsadsd</p> <!-- Verwenden Sie die small Klasse, um den Text kleiner zu machen -->
      </div>
      <div class="modal-footer justify-content-end p-2">
        <button id="error-btn" class="btn btn-light" data-dismiss="modal">Okay</button>
      </div>
    </div>
  </div>