.error-snack button {
    background-color: orangered;
    color: rgb(250, 0, 0);
  }
  
  .non-error-snack {
    background-color: rgb(126, 11, 11) !important;
    color: black !important;
  }
  
  .non-error-snack button {
    color: #1976d2;
  }
  
  .mat-snack-bar-container {
    background-color: #333;
    color: #fff;
  }