html,
body {
    height: 100%;
    width: 100%;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    display: flex;
}

.mdc-button__label{
  color: rgb(0, 0, 0);
}
.error-snack button {
  background-color: rgb(191, 0, 0);
}

.non-error-snack {
  background-color: white !important;
  color: black !important;
}

.non-error-snack button {
  color: #1976d2;
}


